    body::after {
        content: "";
        position: fixed;
        z-index: -1;
        width: 100%;
        background-image: url('/assets/img/background.png');
        background-size: cover;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-family: 'Work Sans', sans-serif;
    }

    h1 {
        font-weight: 200;
        color: white;
        font-size: 50px;
        height: 50px;
        text-shadow: -1px -1px 0 #17a2b8, 1px -1px 0 #17a2b8, -1px 1px 0 #17a2b8, 1px 1px 0 #17a2b8;
    }

    h5 {
        font-weight: 200;
        color: white;
        font-size: 25px;
        height: 25px;
        text-shadow: -1px -1px 0 #17a2b8, 1px -1px 0 #17a2b8, -1px 1px 0 #17a2b8, 1px 1px 0 #17a2b8;
    }

    nav {
        height: 25px;
        position: absolute;
        top: 5px;
        right: 5px;
   }

   nav > a {
        color: white;
   }

   nav > a:after{
        content: "|";
        padding: 0.5em;
   }

   nav > a:last-child:after{
        content: "";
   }


    .btn-info {
        font-weight: 200;
        color: white;
        font-size: 20px;
        text-shadow: -1px -1px 0 #17a2b8, 1px -1px 0 #17a2b8, -1px 1px 0 #17a2b8, 1px 1px 0 #17a2b8;
    }

    #displayAllFood {
        background-color: #fff4;
        border-radius: 10px;
        height: 500px;
    }

    .foodIcon {
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        float: left;
        position: relative;
    }

    .customIcon{
        margin-right: -9px !important;
    }

    .foodIcon p {
        width: 100%;
        font-size: 15px;
    }

    .foodImage {
        width: 60%;
        height: 60%;
        margin: 4px 4px 0px 4px;
        border-radius: 2px;
    }

    .imageDisplay p{
        display: inline;
        font-size: 20px;
        margin-right: 0px;
    }

    #buttonDisplay {
        margin: 10px;
    }

    .newCustomIcon{
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        float: left;
    }

    .selected {
        background-color: lightgreen !important;
    }    
/*-----------Landing Page------------*/
 #landing::after {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100%;
    background-image: url('/assets/img/landing.png');
    background-size: cover;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
} 

.infoDisplay{
    height: 300px;
    width: 100%;
    padding: 40px 40px;
    background-color: #fff9;
    font-size: 20px;
    background-image: url('/assets/img/background.png');
    background-position-y: -50px;
    background-size: 100%;
    background-position: fixed;
} 

.textDisplay{
    max-width: 600px;
    margin: auto;
    color: white;
}


input{
    border-radius: 5px;
}

/*New User Modal*/

.modal-content {
    border-radius: 25px !important;
}

.modal-header {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
}


/*Home Dashboard*/

.days {
    position: absolute;
    top: -1px;
    right: 3px;
}

#emptyHomeDash {
    font-weight: bold;
    padding-top: 200px;
}

#emptyHomeDash a {
    color: white;
}



