    body::after {
        content: "";
        position: fixed;
        z-index: -1;
        width: 100%;
        background-image: url('/assets/img/background.png');
        background-size: cover;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    h1 {
        color: white
    }

    #displayAllFood {
        background-color: #fff4;
        border-radius: 10px;
        height: 500px;
    }

    .foodIcon {
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        float: left;
    }

    .foodIcon p {
        width: 100%;
        font-size: 15px
    }

    .selected {
        background-color: lightgreen !important;
    }

    .foodImage {
        width: 60%;
        height: 60%;
        margin: 4px 4px 0px 4px;
        border-radius: 2px;
    }

    #buttonDisplay {
        margin: 10px;
    }

.imageDisplay img{
    width: 100%;
    max-height: 500px;
}
