<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>HomeDash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<style>
    body::after {
        content: "";
        position: fixed;
        z-index: -1;
        width: 100%;
        background-image: url('assets/img/background.png');
        background-size: cover;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }   

    .foodIcon {
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        float: left;
    }

    .expire-green {
        background-color: lightgreen;
    }

    .expire-yellow {
        background-color: lightyellow;
    }

    .expire-red {
        background-color: red;
    }


</style>


<body><br>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="container text-center">
        <h1>My Pantry</h1>
        <br>
    </div>


    <div class="container" id="displayAllFood">
        <%
            for(var i=0; i<expiringFoods.length; i++){ %>
                <%  var color = 'green';
                    var exp = expiringFoods[i].days_to_expiry;
                    if (exp <= 0) {
                        color = 'red';
                    } else if (exp <= 1) {
                        color = 'yellow';
                    }
                %>
                <div class="foodIcon text-center expire-<%=color%>" data-foodID="<%= expiringFoods[i].food_id %>">
                    <img class="foodImage" src="/assets/img/<%= (expiringFoods[i].custom_user_id === 0 ? expiringFoods[i].food_id : 'customFood')%>.png" alt="food image">
                    <p>
                        <%=expiringFoods[i].food_name%>
                    </p>
                </div>
            <%}
        %>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/assets/js/homedash.js"></script>
</body>

</html>