<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <br>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="container text-center">
        <h1>Inventory</h1>
    </div>
    <div id="buttonDisplay" class="text-center">
        <button class="btn btn-success" onclick="addToHome()">Add To Home Page</button>
    </div>


    <div class="container text-center" id="displayAllFood">
        <%for(let i in foodInfo){ %>
        <div class="foodIcon text-center" data-addToHome="false" data-foodId="<%=foodInfo[i].id%>" data-source="inventory">
            <div class="imageDisplay">
                <img class="foodImage" src="/assets/img/<%= (foodInfo[i].custom_user_id === 0 ? foodInfo[i].id : 'customFood')%>.png"
                    alt="food image">
            </div>
            <div class="text">
                <p>
                    <%= foodInfo[i].food_name %>
                </p>
            </div>
        </div>
        <%}%>

        <div class="newCustomIcon text-center" data-toggle="modal" data-target="#newUserModal" data-addToHome="false"
            data-foodId="1">
            <img class="foodImage" src="/assets/img/custom.png" alt="food image">
            <p>
                Add
            </p>
        </div>
    </div>
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title">Add a Custom Food!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body" style="border-radius:20px">
                    <form id="newCustomIcon">
                        <input type="name" name="foodName" placeholder="Food Name" required>
                        <input type="number" name="expiration" placeholder="Expiration" required>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <body onload="showCurrentlySelected()"></body>
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/assets/js/inventory.js"> </script>
</body>

</html>