<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/cover/">
</head>

<style>
    body::after {
        content: "";
        position: fixed;
        z-index: -1;
        width: 100%;
        background-image: url('assets/img/background.png');
        background-size: cover;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    h1 {
        color: white
    }

    #displayAllFood {
        background-color: #fff6;
        border-radius: 10px;
        height: 500px;
    }

    .foodIcon {
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 5px;
        margin: 10px;
        float: left;
    }

    .foodIcon p {
        width: 100%;
        font-size: 15px
    }

    .selected {
        background-color: lightgreen !important;
    }

    .foodImage {
        width: 60%;
        height: 60%;
        margin: 4px 4px 0px 4px;
        border-radius: 2px;
    }

    #buttonDisplay {
        margin: 10px;
    }
</style>

<body>
    <div class="container text-center">
        <h1>Inventory</h1>
    </div>
    <div id="buttonDisplay" class="text-center">
        <button class="btn btn-success" onclick="addToHome()">Add To Home Page</button>
    </div>


    <div class="container text-center" id="displayAllFood">
        <%for(let i in imageData){ %>
        <div class="foodIcon text-center" data-addToHome="false" data-foodId="<%=i%>">
            <img class="foodImage" src="/assets/img/<%= imageData[i] %>.png" alt="food image">
            <p>
                <%= imageName[i] %>
            </p>
        </div>
        <%}%>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/assets/js/inventory.js"> </script>
</body>

</html>